<div class="container p-3 m-3 mx-auto" *ngIf="cartItems.length != 0; else noItems">
  <h1 class="display-4">Cart</h1>
  <hr />
  <table class="table mx-auto">
    <thead>
      <tr>
        <th>Sno.</th>
        <th>Image</th>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cartItems; index as i">
        <td>{{ i + 1 }}</td>
        <td>
          <img src="http://localhost/{{ item.product.productImage }}" alt="" height="80px" class="rounded-circle" />
        </td>
        <td>{{ item.product.name }}</td>
        <td>
          <app-product-quantity [product]='item.product'></app-product-quantity>
        </td>
        <td>Rs {{ item.product.price }}</td>
        <td>Rs {{ item.quantity * item.product.price }}</td>
      </tr>
    </tbody>

    <tfoot>
      <tr>
        <th colspan="2"></th>
        <th colspan="3">Total</th>
        <th>Rs {{ total }}</th>
      </tr>
    </tfoot>
  </table>
  <hr />
  <hr />
  <hr />
</div>
<ng-template #noItems>
  <div class="jumbotron bg-white border p-4 mx-auto">
    <h1 class="display-4">Cart is Empty</h1>
    <p class="lead">Go to store and Add Items in Cart</p>
    <hr class="my-4" />
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, veritatis.
    </p>
  </div>
</ng-template>
